body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

header {
    background-color: #080a08ec;
    color: rgb(216, 203, 203);
    text-align: center;
    text-shadow: #88a089;
    padding: 1em 0;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    color:#130803
}

#about img, .project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    border-bottom: 2px solid #0b0f0b;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 0.5em 0;
    padding: 0.5em;
    border-left: 5px solid #f13708;
}

.project {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: #778b78;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
